<launch>
  <arg name="voxel_size" default="0.2"/>
  <arg name="cloud_topic" default="/camera/cloud"/>
  <arg name="odom_topic"/>
  <arg name="depth_topic" default="/camera/depth"/>
  <arg name="z_depth_topic" default="/camera/z_depth"/>

  <arg name="mav_name" default="hummingbird"/>
    <!-- camera parameters -->
    <arg name="useFov" default="true"/>
    <arg name="width" default="640"/>
    <arg name="fovx" default="90"/>
    <arg name="fovy" default="60"/>
    <arg name="max_range" default="5."/>


    <arg name="frontier_mode" default="0"/>
    <arg name="esdf_mode" default="0"/>
    <arg name="map_debug" default="false"/>
    <arg name="active_esdf" default="true" />

    <arg name="uav_gt_odom_topic" default="/ground_truth/odometry"/>
    <arg name="uav_noisy_odom"/>

    <arg name="x_start" default="0" />
    <arg name="y_start" default="0" />
    <arg name="z_start" default="1." />

    <arg name="x_size" default="20" />
    <arg name="y_size" default="20" />
    <arg name="z_size" default="2.6" />

    <arg name="origin_x" default="0" />
    <arg name="origin_y" default="0" />
    <arg name="origin_z" default="1.1" />

    <arg name="p_oc_x" default="0." />
    <arg name="p_oc_y" default="0." />
    <arg name="p_oc_z" default="0." />

    <arg name="p_oc_qx" default="0.0" />
    <arg name="p_oc_qy" default="0.0" />
    <arg name="p_oc_qz" default="0." />
    <arg name="p_oc_qw" default="1." />


    <arg name="applyDepthNoise" default="true" />
    <arg name="applyOdomNoise" default="true" />
    <arg name="coeffOdomNoise" default="1." />


    <arg name="map_path" default="/home/anthony/oscar/motion_planning/src/oscar/data/map/maze3/unityexport.obj"/>
    <arg name="save_mesh_folder" default="/home/anthony/oscar/motion_planning/src/oscar/data/splatplanner/maze_mesh" />

  <arg name="shaders_path" value="$(find vulkan_depth_vision)/shaders"/>

  <node name="depth_cam_node" pkg="vulkan_depth_vision" type="depth_cam_node" output="screen">
    <remap from="/camera/cloud" to="$(arg cloud_topic)" />
    <remap from="/camera/odom" to="$(arg odom_topic)" />
    <remap from="/camera/odom_noisy" to="$(arg uav_noisy_odom)" />
    <remap from="/camera/ground_truth/odometry" to="$(arg uav_gt_odom_topic)" />
    <param name="/camera/useUavOdom" value="true" />
    <param name="/camera/useFov" value="$(arg useFov)" />
    <param name="/camera/width" value="$(arg width)" />
    <param name="/camera/fovx" value="$(arg fovx)" />
    <param name="/camera/fovy" value="$(arg fovy)" />
    <param name="/camera/max_range" value="$(arg max_range)" />
    <param name="/camera/oc_x" value="$(arg p_oc_x)" />
    <param name="/camera/oc_y" value="$(arg p_oc_z)" />
    <param name="/camera/oc_z" value="$(arg p_oc_y)" />
    <param name="/camera/oc_qw" value="$(arg p_oc_qw)" />
    <param name="/camera/oc_qx" value="$(arg p_oc_qx)" />
    <param name="/camera/oc_qy" value="$(arg p_oc_qy)" />
    <param name="/camera/oc_qz" value="$(arg p_oc_qz)" />
    <param name="/camera/model_path" value="$(arg map_path)" />
   <param name="/shaders_path" value="$(arg shaders_path)" />
    <param name="/camera/applyDepthNoise" value="$(arg applyDepthNoise)" />
    <param name="/camera/applyOdomNoise" value="$(arg applyOdomNoise)" />
    <param name="/camera/coeffOdomNoise" value="$(arg coeffOdomNoise)" />
  </node>


   <node name="map_test" pkg="map_core" type="map_test" output="screen">
   <!-- subscriber -->
    <remap from="/map_core/cloud" to="$(arg cloud_topic)" />
    <remap from="/map_core/odometry" to="$(arg odom_topic)" />
    <remap from="/map_core/depth" to="$(arg z_depth_topic)" />

    <param name="/map_core/resolution" value="$(arg voxel_size)" />
    <param name="/map_core/x_size" value="$(arg x_size)" />
    <param name="/map_core/y_size" value="$(arg y_size)" />
    <param name="/map_core/z_size" value="$(arg z_size)" />

    <param name="/map_core/origin_x" value="$(arg origin_x)" />
    <param name="/map_core/origin_y" value="$(arg origin_y)" />
    <param name="/map_core/origin_z" value="$(arg origin_z)" />

    <param name="/map_core/useFov" value="$(arg useFov)" />
    <param name="/map_core/width" value="$(arg width)" />
    <param name="/map_core/fovx" value="$(arg fovx)" />
    <param name="/map_core/fovy" value="$(arg fovy)" />
    <param name="/map_core/max_range" value="$(arg max_range)" />
    <param name="/map_core/esdf_mode" value="$(arg esdf_mode)" />
    <param name="/map_core/frontier_mode" value="$(arg frontier_mode)" />
    <param name="/map_core/debug" value="$(arg map_debug)" />
    <param name="/map_core/active_esdf" value="$(arg active_esdf)" />

  </node>


 <node name="tsdf_node" pkg="tsdf_mapping" type="tsdf_node" output="screen">
   <!-- subscriber -->

    <remap from="/tsdf_mapping/odometry" to="$(arg odom_topic)" />
    <remap from="/tsdf_mapping/depth" to="$(arg z_depth_topic)" />

    <param name="/tsdf_mapping/resolution" value="$(arg voxel_size)" />
    <param name="/tsdf_mapping/x_size" value="$(arg x_size)" />
    <param name="/tsdf_mapping/y_size" value="$(arg y_size)" />
    <param name="/tsdf_mapping/z_size" value="$(arg z_size)" />

    <param name="/tsdf_mapping/origin_x" value="$(arg origin_x)" />
    <param name="/tsdf_mapping/origin_y" value="$(arg origin_y)" />
    <param name="/tsdf_mapping/origin_z" value="$(arg origin_z)" />

    <param name="/tsdf_mapping/useFov" value="$(arg useFov)" />
    <param name="/tsdf_mapping/width" value="$(arg width)" />
    <param name="/tsdf_mapping/fovx" value="$(arg fovx)" />
    <param name="/tsdf_mapping/fovy" value="$(arg fovy)" />
    <param name="/tsdf_mapping/max_range" value="$(arg max_range)" />
    <param name="/tsdf_mapping/esdf_mode" value="$(arg esdf_mode)" />
    <param name="/tsdf_mapping/save_folder" value="$(arg save_mesh_folder)" />
  </node>




</launch>
