<launch>

<arg name="world_name" default="basic"/>
<arg name="mav_name" default="firefly"/>
<arg name="gui" default="false"/>
<arg name="verbose_gazebo" default="false"/>


<arg name="traj_topic" value="/firefly/command/trajectory" />

<arg name="voxel_size" default="0.2"/>


<arg name="cloud_topic" value="/camera/cloud"/>

<arg name="odom_topic" value="/camera/odom"/>
<arg name="depth_topic" value="/camera/depth"/>
<arg name="uav_gt_odom_topic" value="/ground_truth/odometry"/>


<arg name="world_frame" default="world" />



<arg name="useRealSensor" value="true"/>
<arg name="max_range" default="5."/>

<node name="map_test" pkg="map_core" type="map_test" output="screen">
  <!-- subscriber -->
  <remap from="/map_core/cloud" to="$(arg cloud_topic)" />
  <remap from="/map_core/odometry" to="$(arg odom_topic)" />
  <remap from="/map_core/depth" to="$(arg depth_topic)" />

  <param name="/map_core/resolution" value="$(arg voxel_size)" />
  <param name="/map_core/x_size" value="20" />
  <param name="/map_core/y_size" value="20" />
  <param name="/map_core/z_size" value="4." />

  <param name="/map_core/origin_x" value="0" />
  <param name="/map_core/origin_y" value="0" />
  <param name="/map_core/origin_z" value="0" />

  <param name="/map_core/useRealSensor" value="$(arg useRealSensor)" />
  <param name="/map_core/debug" value= "true" />

  <param name="/map_core/max_range" value="$(arg max_range)" />
</node>


</launch>
