<launch>

<arg name="world_name" default="basic"/>
<arg name="mav_name" default="firefly"/>
<arg name="gui" default="false"/>
<arg name="verbose_gazebo" default="false"/>


<arg name="traj_topic" value="/firefly/command/trajectory" />

<arg name="voxel_size" default="0.1"/>
<arg name="world_frame" default="world" />

<arg name="cloud_topic" value="/camera/cloud"/>
<arg name="odom_topic" value="/camera/odom"/>
<arg name="depth_topic" value="/camera/z_depth"/>
<arg name="z_depth_topic" value="/camera/z_depth"/>




<arg name="useFov" value="true"/>
<arg name="width" value="600"/>
<arg name="fovx" value="90"/>
<arg name="fovy" value="73.73"/>
<arg name="max_range" default="5."/>



  <arg name="uav_gt_odom_topic" value="/ground_truth/odometry"/>
  <arg name="mesh_folder" default="/home/anthony/oscar/motion_planning/src/oscar/data/map/avm_facility1/avm_facility1.obj"/>


  <arg name="x_start" value="-14" />
  <arg name="y_start" value="0" />
  <arg name="z_start" value="1.18" />
  <arg name="x_size" value="38" />
  <arg name="y_size" value="22" />
  <arg name="z_size" value="6" />
  <arg name="origin_x" value="0" />
  <arg name="origin_y" value="0" />
  <arg name="origin_z" value="2.8" />


 <node name="vk_depth_sim" pkg="ROSVkVizualizer" type="vk_depth_sim" output="screen">
   <remap from="/camera/cloud" to="$(arg cloud_topic)" />
   <remap from="/camera/odom" to="$(arg odom_topic)" />
   <param name="/camera/useUavOdom" value="false" />
   <param name="/camera/useFov" value="$(arg useFov)" />
   <param name="/camera/width" value="$(arg width)" />
   <param name="/camera/fovx" value="$(arg fovx)" />
   <param name="/camera/fovy" value="$(arg fovy)" />
   <param name="/camera/max_range" value="$(arg max_range)" />
   <param name="/camera/model_path" value="$(arg mesh_folder)" />


   <param name="/camera/applyDepthNoise" value="true" />
   <param name="/camera/applyOdomNoise" value="false" />
 </node>

 <node name="tsdf_node" pkg="tsdf_mapping" type="tsdf_node" output="screen">
   <!-- subscriber -->

   <remap from="/tsdf_mapping/odometry" to="$(arg odom_topic)" />
   <remap from="/tsdf_mapping/depth" to="$(arg z_depth_topic)" />

   <param name="/tsdf_mapping/resolution" value="$(arg voxel_size)" />
   <param name="/tsdf_mapping/x_size" value="$(arg x_size)" />
   <param name="/tsdf_mapping/y_size" value="$(arg y_size)" />
   <param name="/tsdf_mapping/z_size" value="$(arg z_size)" />

   <param name="/tsdf_mapping/origin_x" value="$(arg origin_x)" />
   <param name="/tsdf_mapping/origin_y" value="$(arg origin_y)" />
   <param name="/tsdf_mapping/origin_z" value="$(arg origin_z)" />

 <param name="/tsdf_mapping/useFov" value="$(arg useFov)" />
 <param name="/tsdf_mapping/width" value="$(arg width)" />
 <param name="/tsdf_mapping/fovx" value="$(arg fovx)" />
 <param name="/tsdf_mapping/fovy" value="$(arg fovy)" />
 <param name="/tsdf_mapping/max_range" value="$(arg max_range)" />
 <param name="/tsdf_mapping/esdf_mode" value="0" />
  <param name="/tsdf_mapping/save_folder" value="$(arg mesh_folder)" />
</node>

<!-- <node pkg="tf2_ros" type="static_transform_publisher" name="tf_base_to_cam" args="0 0 0.0 0 0 0 world tf_wc"/> -->

 <node name="map_test" pkg="map_core" type="map_test" output="screen">
   <!-- subscriber -->
   <remap from="/map_core/cloud" to="$(arg cloud_topic)" />
   <remap from="/map_core/odometry" to="$(arg odom_topic)" />
   <remap from="/map_core/depth" to="$(arg depth_topic)" />

   <param name="/map_core/resolution" value="$(arg voxel_size)" />
   <param name="/map_core/x_size" value="$(arg x_size)" />
   <param name="/map_core/y_size" value="$(arg y_size)" />
   <param name="/map_core/z_size" value="$(arg z_size)" />

   <param name="/map_core/origin_x" value="$(arg origin_x)" />
   <param name="/map_core/origin_y" value="$(arg origin_y)" />
   <param name="/map_core/origin_z" value="$(arg origin_z)" />

 <param name="/map_core/useFov" value="$(arg useFov)" />
 <param name="/map_core/width" value="$(arg width)" />
 <param name="/map_core/fovx" value="$(arg fovx)" />
 <param name="/map_core/fovy" value="$(arg fovy)" />
 <param name="/map_core/max_range" value="$(arg max_range)" />
 <param name="/map_core/esdf_mode" value="0" />
  <param name="/map_core/debug" value="true" />

</node>


 <node name="map_server_test" pkg="map_core" type="map_server_test" output="screen">
   <!-- subscriber -->
   <remap from="/map_core/cloud" to="$(arg cloud_topic)" />
   <remap from="/map_core/odometry" to="$(arg odom_topic)" />
   <remap from="/map_core/depth" to="$(arg depth_topic)" />

   <param name="/map_core/resolution" value="$(arg voxel_size)" />
   <param name="/map_core/x_size" value="$(arg x_size)" />
   <param name="/map_core/y_size" value="$(arg y_size)" />
   <param name="/map_core/z_size" value="$(arg z_size)" />

   <param name="/map_core/origin_x" value="$(arg origin_x)" />
   <param name="/map_core/origin_y" value="$(arg origin_y)" />
   <param name="/map_core/origin_z" value="$(arg origin_z)" />

 <param name="/map_core/useFov" value="$(arg useFov)" />
 <param name="/map_core/width" value="$(arg width)" />
 <param name="/map_core/fovx" value="$(arg fovx)" />
 <param name="/map_core/fovy" value="$(arg fovy)" />
 <param name="/map_core/max_range" value="$(arg max_range)" />
 <param name="/map_core/esdf_mode" value="0" />
  <param name="/map_core/debug" value="true" />

</node>

</launch>
