<launch>

  <arg name="method_name" default="splatplanner"/>
  <arg name="map_name" default="maze"/>


  <arg name="traj_topic" default="/hummingbird/autopilot/reference_state" />

  <arg name="camera_cfg" default="$(find uav_mapper)/launch/cfg/camera.yaml" />
  <arg name="map_cfg" default="$(find uav_mapper)/launch/cfg/map/maze.yaml" />
  <arg name="map_core_option_cfg" default="$(find uav_mapper)/launch/cfg/map_core_option.yaml" />
  <arg name="mav_cfg" default="$(find uav_mapper)/launch/cfg/mav.yaml" />



  <arg name="uav_gt_odom_topic" default="/hummingbird/ground_truth/odometry"/>
  <arg name="uav_noisy_odom" default="/camera/noisy_odom"/>
  <arg name="odom_topic" default="/camera/odom"/>
  <arg name="z_depth_topic" default="/camera/z_depth"/>

  <!-- Logging bench -->
  <arg name="save_mesh_folder" value="/$(find tsdf_mapping)/../data/$(arg method_name)/$(arg map_name)/mesh00" />
  <arg name="save_vol_folder" value="/$(find tsdf_mapping)/../data/$(arg method_name)/$(arg map_name)/vol000" />
  <arg name="save_log_folder" value="/$(find tsdf_mapping)/../data/$(arg method_name)/$(arg map_name)/log000" />

  <node pkg="tf2_ros" type="static_transform_publisher" name="tf_base_to_cam" args="0 0 0.0 0 0 0 world tf_wc"/>

  <include file="$(find uav_mapper)/launch/splat_utils/rotors_rpg_sim.launch">
    <arg name="map_cfg" value="$(arg map_cfg)"/>
  </include>

  <include file="$(find uav_mapper)/launch/splat_utils/splat_cam_map_tsdf_simple.launch">
    <arg name="camera_cfg" value="$(arg camera_cfg)"/>
    <arg name="map_cfg" value="$(arg map_cfg)"/>
    <arg name="mav_cfg" value="$(arg mav_cfg)"/>
    <arg name="map_core_option_cfg" value="$(arg map_core_option_cfg)"/>

    <arg name="odom_topic" value="$(arg odom_topic)" />

    <arg name="rotors_ground_truth_odometry" value="$(arg uav_gt_odom_topic)" />

    <arg name="cloud_topic" default="/camera/cloud"/>
    <arg name="depth_topic" default="/camera/depth"/>
    <arg name="z_depth_topic" default="/camera/z_depth"/>


    <arg name="save_mesh_folder" value="$(arg save_mesh_folder)" />
  </include>

  <node name="planner" pkg="uav_mapper" type="test_traj" output="screen" >
    <remap from="/planner/uav_odom" to="$(arg uav_noisy_odom)" />
    <remap from="/planner/command/trajectory" to="/$(arg traj_topic)" />
    <remap from="/planner/depth_odom" to="$(arg odom_topic)" />
    <rosparam command="load" file="$(arg camera_cfg)" />
    <rosparam command="load" file="$(arg map_cfg)" />
    <rosparam command="load" file="$(arg mav_cfg)" />

    <param name="/map_core/save_folder" value="$(arg save_vol_folder)" />
    <param name="/planner/save_log_folder" value="$(arg save_log_folder)" />

    <param name="/RRT_max_distance" value="2.5" />

  </node>

</launch>
