<launch>
  <arg name="camera_cfg" default=""/>
  <arg name="map_cfg" default=""/>
  <arg name="mav_cfg" default=""/>
  <arg name="map_core_option_cfg" default=""/>


    <arg name="save_mesh_folder" default="/home/anthony/oscar/motion_planning/src/oscar/data/splatplanner/maze_mesh" />


    <arg name="rotors_ground_truth_odometry" default=""/>

  <arg name="cloud_topic" default="/camera/cloud"/>
  <arg name="odom_topic" default="/camera/odom"/>
  <arg name="depth_topic" default="/camera/depth"/>
  <arg name="z_depth_topic" default="/camera/z_depth"/>

  <node name="gps_noise_model" pkg="odometry_noise_oscar" type="gps_noise_model" output="screen">
    <remap from="/odom_noise/ground_truth/odometry" to="$(arg rotors_ground_truth_odometry)" />
  </node>

  <node name="vk_depth_sim" pkg="ROSVkVizualizer" type="vk_depth_sim" output="screen">
    <rosparam command="load" file="$(arg camera_cfg)" />
    <rosparam command="load" file="$(arg map_cfg)" />
    <rosparam command="load" file="$(arg mav_cfg)" />
    <remap from="/camera/ground_truth/odometry" to="$(arg rotors_ground_truth_odometry)" />
    <remap from="/camera/cloud_topic" to="$(arg cloud_topic)" />
    <remap from="/camera/odom_topic" to="$(arg odom_topic)" />
    <remap from="/camera/depth_topic" to="$(arg depth_topic)" />
    <remap from="/camera/z_depth_topic" to="$(arg z_depth_topic)" />
  </node>


  <node name="map_test" pkg="map_core" type="map_test" output="screen">
   <remap from="/map_core/odometry" to="$(arg odom_topic)" />
   <remap from="/map_core/depth" to="$(arg z_depth_topic)" />
   <rosparam command="load" file="$(arg camera_cfg)" />
   <rosparam command="load" file="$(arg map_cfg)" />
   <rosparam command="load" file="$(arg map_core_option_cfg)" />

 </node>


 <node name="tsdf_node" pkg="tsdf_mapping" type="tsdf_node" output="screen">
   <!-- subscriber -->

    <remap from="/tsdf_mapping/odometry" to="$(arg odom_topic)" />
    <remap from="/tsdf_mapping/depth" to="$(arg z_depth_topic)" />
    <rosparam command="load" file="$(arg camera_cfg)" />

    <param name="/tsdf_mapping/save_folder" value="$(arg save_mesh_folder)" />
  </node>


</launch>
